body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:3px solid black;
    margin: 1rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: gray;
}