<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show in Detail</title>
    <link rel="stylesheet"href="/style.css">
</head>
<body>
    <h3>Here is your post in detail</h3>
    <p>Post id : <%= ps.id %></p>
    <div class="post">
        <h2 class="user">@<%= ps.username%></h2>
        <h3 class="content">Content:<%= ps.content%></h2>
    </div>
</body>
</html>